@charset "UTF-8";
/**
 * SRC
**/
@font-face {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.6.3');
	src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/font-awesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');

}
@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/radio-canada/web/Radio-Canada-Regular.eot');
    src: url('../fonts/radio-canada/web/Radio-Canada-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/radio-canada/web/Radio-Canada-Regular.woff') format('woff'), url('../fonts/radio-canada/web/Radio-Canada-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/radio-canada/web/Radio-Canada-Light.eot');
    src: url('../fonts/radio-canada/web/Radio-Canada-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/radio-canada/web/Radio-Canada-Light.woff') format('woff'), url('../fonts/radio-canada/web/Radio-Canada-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/radio-canada/web/Radio-Canada-LightItalic.eot');
    src: url('../fonts/radio-canada/web/Radio-Canada-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/radio-canada/web/Radio-Canada-LightItalic.woff') format('woff'), url('../fonts/radio-canada/web/Radio-Canada-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic
}
@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/radio-canada/web/Radio-Canada-Medium.eot');
    src: url('../fonts/radio-canada/web/Radio-Canada-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/radio-canada/web/Radio-Canada-Medium.woff') format('woff'), url('../fonts/radio-canada/web/Radio-Canada-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/radio-canada/web/Radio-Canada-MediumItalic.eot');
    src: url('../fonts/radio-canada/web/Radio-Canada-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/radio-canada/web/Radio-Canada-MediumItalic.woff') format('woff'), url('../fonts/radio-canada/web/Radio-Canada-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic
}
@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/radio-canada/web/Radio-Canada-Bold.eot');
    src: url('../fonts/radio-canada/web/Radio-Canada-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/radio-canada/web/Radio-Canada-Bold.woff') format('woff'), url('../fonts/radio-canada/web/Radio-Canada-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/radio-canada/web/Radio-Canada-Italic.eot');
    src: url('../fonts/radio-canada/web/Radio-Canada-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/radio-canada/web/Radio-Canada-Italic.woff') format('woff'), url('../fonts/radio-canada/web/Radio-Canada-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic
}
@font-face {
    font-family: 'Radio-Canada';
    src: url('../fonts/radio-canada/web/Radio-Canada-BoldItalic.eot');
    src: url('../fonts/radio-canada/web/Radio-Canada-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/radio-canada/web/Radio-Canada-BoldItalic.woff') format('woff'), url('../fonts/radio-canada/web/Radio-Canada-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic
}
@font-face {
    font-family: 'cbcrc';
    src: url("https://s.radio-canada.ca/_font/cbcrc/fonts/cbcrc.eot?5jaik");
    src: url("https://s.radio-canada.ca/_font/cbcrc/fonts/cbcrc.eot?#iefix5jaik") format("embedded-opentype"), url("https://s.radio-canada.ca/_font/cbcrc/fonts/cbcrc.woff?5jaik") format("woff"), url("https://s.radio-canada.ca/_font/cbcrc/fonts/cbcrc.ttf?5jaik") format("truetype"), url("https://s.radio-canada.ca/_font/cbcrc/fonts/cbcrc.svg?5jaik#cbcrc") format("svg");
    font-weight: normal;
    font-style: normal
}

/**
 * SRC
**
#hostPub,
#hostNavigation,
#src-nav-theme,
#zone-partner{ display: none; }
/**/
#hostPubBanner,
#hostNavSticky,
#hostNavigation,
#hostNavigationZone,
#hostFooter{ position: relative; z-index: 3; }
#hostPubBanner,
#hostNavigation{ background: #ebebeb; }
html.screen-medium #src-nav-theme, body.screen-medium #src-nav-theme{ display: none; }
html.screen-medium #src-container, body.screen-medium #src-container{ position: relative; }
html.screen-medium #src-content, body.screen-medium #src-content{ visibility: visible; line-height: inherit; height: auto; margin: 0; padding: 0;  max-width: none; width: auto;  }
html #src-content, body #src-content{ min-width: 0; }
html #src-content:before, body #src-content:before, html #src-content:after, body #src-content:after{ display: block; }

html #src-header, body #src-header{ display: none !important; }
html #src-header-responsive, body #src-header-responsive{ display: block !important; }

/**
 * BASICS
**/
#src-container div > :first-child{ margin-top: 0; }
#src-container div > :last-child{ margin-bottom: 0; }
#src-container *{ box-sizing: border-box; }
#src-container p{ line-height: inherit; }

#sponsored{ background-color: #ccc; font-size: 12px; font-weight: normal; line-height: 1; text-align: center; text-transform: uppercase; position: relative; z-index: 3; }
#sponsored .inner{ padding: 6px 5px 5px 5px; }
#pixel{ left: -9999em; position: fixed; top: -9999em; }
